* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
  position: relative;
  scroll-behavior: smooth;
}

body {
  background-color: #212529;
  color: #fff;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 50px;
  z-index: 1000;
  transition: background-color 0.4s ease;
  background: transparent;
}

nav.scrolled {
  background-color: rgba(33, 37, 41, 0.95);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
}

.landing-page {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo-container a {
  color: white;
  font-size: 1.8em;
  font-weight: 700;
  white-space: nowrap;
}

.logo-container a:hover {
  color: #20c997;
  transition: 0.3s;
}

.hamburger {
  display: none;
}

.bar-list {
  display: flex;
  gap: 30px;
}

.bar-list li a {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  font-weight: 500;
  transition: 0.3s;
  position: relative;
}

.bar-list li a:hover,
.bar-list li a.active {
  color: #20c997;
}

.bar-list li a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #20c997;
  bottom: -4px;
  left: 0;
  transition: width 0.3s;
}

.bar-list li a:hover::after,
.bar-list li a.active::after {
  width: 100%;
}

#home {
  height: 100vh;
  position: relative;
  width: 100%;
}

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("./images/portfolio-img.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 20px;
}

.port-text h1 {
  color: white;
  font-size: 4em;
  font-weight: 700;
  margin-bottom: 10px;
}

.port-text h2 {
  font-size: 3em;
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
}

.auto-type {
  color: #20c997;
  text-shadow: 0 0 5px rgba(32, 201, 151, 0.5);
  border-right: 3px solid #20c997;
  padding-right: 5px;
  animation: blink 0.7s infinite;
}

.port-text p {
  color: #e0e0e0;
  font-size: 1.5em;
  margin-bottom: 30px;
}

@keyframes blink {
  0% {
    border-color: transparent;
  }
  50% {
    border-color: #20c997;
  }
  100% {
    border-color: transparent;
  }
}

.section-title-container {
  position: relative;
  text-align: center;
  margin-bottom: 70px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
}

.bg-text {
  position: absolute;
  font-size: 7em;
  font-weight: 800;
  color: rgba(255, 255, 255, 0.05);
  text-transform: uppercase;
  z-index: 0;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  white-space: nowrap;
}

.fg-text {
  position: relative;
  font-size: 2.5em;
  font-weight: 700;
  color: white;
  z-index: 1;
  text-transform: capitalize;
}

.fg-text::after {
  content: "";
  display: block;
  width: 70px;
  height: 3px;
  background: #20c997;
  margin: 10px auto 0;
}

section {
  padding: 80px 20px;
}
.about-me,
.services,
.resume,
.skills-section,
.portfolio,
.contact {
  background-color: #212529;
}
.services,
.skills-section,
.contact {
  background-color: #343a40;
}

.hero-container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  gap: 60px;
  align-items: center;
}

.herosect-left h2 {
  margin-bottom: 25px;
  font-size: 28px;
  color: white;
  line-height: 1.4;
}

.herosect-left h2 span {
  color: #20c997;
}
.herosect-left p {
  color: #aab1b8;
  line-height: 1.8;
}

.bottom {
  margin-bottom: 12px;
  border-bottom: 1px solid #444;
  padding-bottom: 8px;
}
.btn-down a {
  padding: 12px 30px;
  background-color: #20c997;
  color: white;
  border-radius: 30px;
  font-weight: 600;
  display: inline-block;
  margin-top: 20px;
  transition: 0.3s;
}
.btn-down a:hover {
  background-color: #15916c;
}

.serv-con {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.service-box {
  background: #111418;
  padding: 30px;
  border-radius: 5px;
  transition: transform 0.3s;
  height: 100%;
}
.service-box:hover {
  transform: translateY(-5px);
}
.service-box h2 {
  color: white;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.service-box h2 i,
.service-box h2 span {
  color: #20c997;
}
.service-box p {
  color: #aab1b8;
  line-height: 1.6;
}

.resume-flex,
.skills-wrapper,
.contact-me,
.footer-content,
.portfolio-grid {
  width: 90%;
  max-width: 1100px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
}

.resume-left,
.resume-right,
.skills-column,
.contact-text,
.contact-form {
  flex: 1;
  min-width: 300px;
}

.resume-box {
  background: #111418;
  padding: 30px;
  border-radius: 6px;
  border: 1px solid #232a31;
  margin-bottom: 30px;
  transition: transform 0.3s ease;
}
.resume-box:hover {
  transform: translateY(-5px);
}
.year-badge {
  background: #dc3545;
  color: white;
  padding: 4px 10px;
  border-radius: 4px;
  display: inline-block;
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 700;
}
.school-name {
  display: block;
  color: #20c997;
  margin-bottom: 15px;
  font-size: 15px;
}
.resume-box p {
  color: #aab1b8;
  line-height: 1.7;
  font-size: 16px;
}
.resume-box h4 {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
  margin-bottom: 5px;
  color: white;
}
.resume-box h4 span {
  color: #20c997;
  font-size: 24px;
}
.resume h2 {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 25px;
  color: white;
}

.skill-box {
  margin-bottom: 30px;
}
.skill-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.progress-line {
  width: 100%;
  height: 8px;
  background: #232a31;
  border-radius: 5px;
  position: relative;
}
.progress-line span {
  background: #20c997;
  height: 100%;
  display: block;
  border-radius: 5px;
  position: absolute;
}
.btn-container {
  text-align: center;
  margin-top: 40px;
  width: 100%;
}
.btn-download {
  display: inline-block;
  padding: 12px 30px;
  border: 2px solid #6c757d;
  color: #ccc;
  border-radius: 30px;
  font-weight: 500;
  transition: 0.3s;
}
.btn-download:hover {
  background-color: #20c997;
  border-color: #20c997;
  color: #fff;
}
.subtitle {
  text-align: center;
  color: #aab1b8;
  margin-bottom: 50px;
}

.portfolio-card {
  background: #111418;
  width: 300px;
  border-radius: 8px;
  overflow: hidden;
  border: 1px solid #232a31;
  transition: transform 0.3s ease;
  flex-grow: 1;
}
.portfolio-card:hover {
  transform: translateY(-5px);
}
.card-image img {
  width: 100%;
  height: 180px;
  object-fit: cover;
  opacity: 0.8;
}
.card-content {
  padding: 20px;
}
.card-content h3 {
  color: #20c997;
  margin-bottom: 10px;
  font-size: 20px;
}
.card-content p {
  color: #aab1b8;
  font-size: 14px;
  margin-bottom: 20px;
  line-height: 1.5;
}
.btn-small {
  padding: 8px 20px;
  background: #232a31;
  color: white;
  border-radius: 20px;
  font-size: 13px;
  transition: 0.3s;
}
.btn-small:hover {
  background: #20c997;
  color: white;
}

.contact-add h2,
.contact-add h3 {
  color: white;
  margin-bottom: 15px;
}
.contact-add p {
  color: #aab1b8;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-add i {
  color: #20c997;
}

.contact-form h2 {
  color: white;
  margin-bottom: 20px;
}
.contact-form input,
.contact-form textarea {
  width: 100% !important;
  max-width: 100%;
  padding: 10px;
  background: #232a31;
  border: none;
  color: gray;
  border-radius: 5px;
  margin-bottom: 20px;
  height: 45px;
}
.contact-form .message-box {
  height: 150px;
}
.contact-form button {
  background: #20c997;
  border: none;
  padding: 10px 25px;
  border-radius: 30px;
  cursor: pointer;
}
.contact-form button a {
  color: white;
  font-weight: 600;
}

.social-links {
  margin-top: 30px;
}
.social-links h3 {
  color: white;
  margin-bottom: 15px;
}
.social-links a {
  margin-right: 15px;
}
.social-links i {
  color: #aab1b8;
  font-size: 20px;
  transition: 0.3s;
}
.social-links i:hover {
  color: #20c997;
  transform: translateY(-3px);
}

.footer {
  background: #111418;
  padding: 30px 20px;
  border-top: 1px solid #232a31;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.copyright p {
  color: #cfcfd0;
  font-size: 14px;
}
.copyright a {
  color: #20c997;
  font-weight: 600;
}
.terms {
  display: flex;
  gap: 15px;
}
.terms a {
  color: #cfcfd0;
  font-size: 14px;
}

.back-to-top {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #20c997;
  color: white;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.3s;
}
.back-to-top:hover {
  background: #15916c;
  transform: translateY(-5px);
}

@media (max-width: 991px) {
  nav,
  nav.scrolled {
    padding: 15px 20px !important;
  }

  .landing-page {
    padding: 0;
  }

  .hamburger {
    display: block;
    font-size: 28px;
    color: white;
    cursor: pointer;
    margin-left: auto;
  }

  .bar-list {
    display: none;
    flex-direction: column;
    width: 100%;
    background-color: #111418;
    position: absolute;
    top: 70px;
    left: 0;
    padding: 30px 0;
    text-align: center;
    border-bottom: 1px solid #232a31;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    z-index: 999;
  }
  .bar-list.active {
    display: flex;
  }

  .hero-container,
  .resume-flex,
  .skills-wrapper,
  .contact-me,
  .portfolio-grid,
  .footer-content {
    flex-direction: column;
    width: 100%;
    gap: 60px;
    align-items: center;
  }

  .hero-container {
    display: flex;
  }

  .serv-con {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .port-text h1 {
    font-size: 2.5em;
  }

  header {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url("images/portfolio-mobile.png");
      background-size: cover;
      background-position: center;
      background-attachment: scroll;
  }

  .port-text h2 {
    font-size: 28px;
  }

  .footer-content {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }

  .serv-con {
    grid-template-columns: 1fr;
  }

  .herosect-left h2 {
    font-size: 22px;
    line-height: 1.3;
  }
}

@media (max-width: 480px) {
  nav,
  nav.scrolled {
    padding: 15px 10px !important;
  }

  .logo-container a {
    font-size: 16px;
  }
  .hamburger {
    font-size: 22px;
  }

  .bg-text {
    display: none;
  }
}

@media (max-width: 300px) {
  * {
    max-width: 100% !important;
    box-sizing: border-box !important;
  }

  body,
  html {
    overflow-x: hidden;
    width: 100%;
  }

  nav {
    padding: 5px 2px !important;
  }
  .logo-container a {
    font-size: 12px;
  }

  .hamburger {
    font-size: 16px;
    margin-right: 5px;
    z-index: 1002;
    display: block;
    cursor: pointer;
  }

  .bar-list {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 50px;
    padding-bottom: 20px;
    overflow-y: auto !important;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #111418;
    z-index: 1001;
  }

  .bar-list.active {
    display: flex !important;
  }

  .bar-list li {
    width: 100%;
    text-align: center;
  }

  .bar-list li a {
    font-size: 12px !important;
    margin-bottom: 5px;
    display: block;
    padding: 5px 0;
  }

  .port-text h1 {
    font-size: 1.2rem;
    margin-bottom: 2px;
  }
  .port-text h2 {
    font-size: 0.8rem;
    margin-bottom: 5px;
  }
  .port-text p {
    font-size: 0.6rem;
    margin-bottom: 10px;
  }
  .bg-text {
    display: none;
  }
  .fg-text {
    font-size: 1.2rem;
  }

  section {
    padding: 20px 5px;
  }

  .about-me h1,
  .services h1,
  .resume h1,
  .contact h1,
  .section-title-container h2 {
    font-size: 16px;
    margin-bottom: 15px;
    text-align: center;
  }

  p,
  a,
  li,
  .herosect-left p {
    font-size: 9px !important;
    line-height: 1.4;
  }

  .herosect-left h2 span {
    font-size: 16px !important;
    display: block;
    margin-top: 5px;
  }

  .hero-container,
  .serv-con,
  .resume-flex,
  .skills-wrapper,
  .contact-me,
  .portfolio-grid,
  .footer-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    gap: 15px;
    align-items: center;
  }

  .herosect-left,
  .herosect-right,
  .resume-left,
  .resume-right,
  .skills-column,
  .contact-text,
  .contact-form {
    width: 100%;
    min-width: 0;
    padding: 0;
  }

  .resume-box,
  .service-box,
  .portfolio-card,
  .skill-box {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
  }

  .service-box h2 {
    font-size: 10px !important;
    margin-bottom: 5px;
  }
  .service-box h2 i,
  .service-box h2 span {
    font-size: 10px !important;
  }

  .resume-box h4 {
    font-size: 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
  }

  .skill-info h4 {
    font-size: 9px;
  }
  .skill-info span {
    font-size: 9px;
  }

  .contact-add h3 {
    font-size: 10px;
    text-align: center;
    word-break: break-word;
  }

  .contact-add p {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 10px;
    word-break: break-all;
  }

  .social-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 10px;
  }

  .social-links h3 {
    flex-basis: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .social-links a {
    margin: 0 5px;
    font-size: 10px !important;
  }

  .contact-form input,
  .contact-form textarea {
    padding: 5px;
    font-size: 9px;
    height: auto;
    width: 100% !important;
  }

  .contact-form button, .btn-small {
      padding: 6px 10px;
      font-size: 9px;
      width: 100%;
      display: block;
      text-align: center;
  }

  .footer-content {
    text-align: center;
    gap: 10px;
  }

  .card-image img {
    height: 90px;
  }

  .scroll-down {
    display: none;
  }
}
